# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\università\FAI 3\evolution-MDP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
